<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
<!--        <testsuite name="Core tests">-->
<!--            <directory suffix="Test.php">./tests/tests/CoreTests</directory>-->
<!--        </testsuite>-->

        <testsuite name="Plugin tests">
            <directory suffix="Test.php">./tests/tests/PluginTests</directory>
        </testsuite>
	</testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
